In [2]:
import tensorflow as tf
print(tf.__version__)

2.15.0

In [41]:
import pandas as pd

df = pd.read_csv('flights_sample_10k.csv/flights_sample_10k.csv')

In [42]:
df.head(5)

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
0,2022-07-19,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,OO,20304,3371,SAN,"San Diego, CA",SFO,"San Francisco, CA",...,0.0,89.0,87.0,63.0,447.0,NaN,NaN,NaN,NaN,NaN
1,2022-09-13,Republic Airline,Republic Airline: YX,YX,20452,3552,CMH,"Columbus, OH",ORD,"Chicago, IL",...,0.0,88.0,78.0,51.0,296.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-09,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,OO,20304,4660,CVG,"Cincinnati, OH",ORD,"Chicago, IL",...,0.0,97.0,79.0,53.0,264.0,NaN,NaN,NaN,NaN,NaN
3,2021-03-19,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,325,DEN,"Denver, CO",MCI,"Kansas City, MO",...,0.0,96.0,92.0,72.0,533.0,NaN,NaN,NaN,NaN,NaN
4,2020-01-03,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1561,IAH,"Houston, TX",SFO,"San Francisco, CA",...,0.0,267.0,253.0,223.0,1635.0,NaN,NaN,NaN,NaN,NaN

In [43]:
df.shape

(10000, 32)

In [44]:
df.isnull().sum()   #prints missing values in each columns

FL_DATE                       0
AIRLINE                       0
AIRLINE_DOT                   0
AIRLINE_CODE                  0
DOT_CODE                      0
FL_NUMBER                     0
ORIGIN                        0
ORIGIN_CITY                   0
DEST                          0
DEST_CITY                     0
CRS_DEP_TIME                  0
DEP_TIME                    238
DEP_DELAY                   238
TAXI_OUT                    241
WHEELS_OFF                  241
WHEELS_ON                   246
TAXI_IN                     246
CRS_ARR_TIME                  0
ARR_TIME                    246
ARR_DELAY                   261
CANCELLED                     0
CANCELLATION_CODE          9758
DIVERTED                      0
CRS_ELAPSED_TIME              0
ELAPSED_TIME                261
AIR_TIME                    261
DISTANCE                      0
DELAY_DUE_CARRIER          8263
DELAY_DUE_WEATHER          8263
DELAY_DUE_NAS              8263
DELAY_DUE_SECURITY         8263
DELAY_DUE_LATE_AIRCRAFT    8263
dtype: int64

In [45]:
df.duplicated().sum() #duplicate row counts

0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FL_DATE                  10000 non-null  object
 1   AIRLINE                  10000 non-null  object
 2   AIRLINE_DOT              10000 non-null  object
 3   AIRLINE_CODE             10000 non-null  object
 4   DOT_CODE                 10000 non-null  int64
 5   FL_NUMBER                10000 non-null  int64
 6   ORIGIN                   10000 non-null  object
 7   ORIGIN_CITY              10000 non-null  object
 8   DEST                     10000 non-null  object
 9   DEST_CITY                10000 non-null  object
 10  CRS_DEP_TIME             10000 non-null  int64
 11  DEP_TIME                 9762 non-null   float64
 12  DEP_DELAY                9762 non-null   float64
 13  TAXI_OUT                 9759 non-null   float64
 14  WHEELS_OFF               9759 non-null   float64
 15  WHEELS_ON                9754 non-null   float64
 16  TAXI_IN                  9754 non-null   float64
 17  CRS_ARR_TIME             10000 non-null  int64
 18  ARR_TIME                 9754 non-null   float64
 19  ARR_DELAY                9739 non-null   float64
 20  CANCELLED                10000 non-null  float64
 21  CANCELLATION_CODE        242 non-null    object
 22  DIVERTED                 10000 non-null  float64
 23  CRS_ELAPSED_TIME         10000 non-null  float64
 24  ELAPSED_TIME             9739 non-null   float64
 25  AIR_TIME                 9739 non-null   float64
 26  DISTANCE                 10000 non-null  float64
 27  DELAY_DUE_CARRIER        1737 non-null   float64
 28  DELAY_DUE_WEATHER        1737 non-null   float64
 29  DELAY_DUE_NAS            1737 non-null   float64
 30  DELAY_DUE_SECURITY       1737 non-null   float64
 31  DELAY_DUE_LATE_AIRCRAFT  1737 non-null   float64
dtypes: float64(19), int64(4), object(9)
memory usage: 2.4+ MB

In [47]:
df.nunique

<bound method DataFrame.nunique of          FL_DATE                AIRLINE                AIRLINE_DOT  \
0     2022-07-19  SkyWest Airlines Inc.  SkyWest Airlines Inc.: OO
1     2022-09-13       Republic Airline       Republic Airline: YX
2     2022-07-09  SkyWest Airlines Inc.  SkyWest Airlines Inc.: OO
3     2021-03-19  United Air Lines Inc.  United Air Lines Inc.: UA
4     2020-01-03  United Air Lines Inc.  United Air Lines Inc.: UA
...          ...                    ...                        ...
9995  2022-06-21              Envoy Air              Envoy Air: MQ
9996  2023-06-23  United Air Lines Inc.  United Air Lines Inc.: UA
9997  2022-02-07      PSA Airlines Inc.      PSA Airlines Inc.: OH
9998  2020-03-12        JetBlue Airways        JetBlue Airways: B6
9999  2021-03-14      Endeavor Air Inc.      Endeavor Air Inc.: 9E

     AIRLINE_CODE  DOT_CODE  FL_NUMBER ORIGIN                     ORIGIN_CITY  \
0              OO     20304       3371    SAN                   San Diego, CA
1              YX     20452       3552    CMH                    Columbus, OH
2              OO     20304       4660    CVG                  Cincinnati, OH
3              UA     19977        325    DEN                      Denver, CO
4              UA     19977       1561    IAH                     Houston, TX
...           ...       ...        ...    ...                             ...
9995           MQ     20398       3738    DSM                  Des Moines, IA
9996           UA     19977       2676    ORD                     Chicago, IL
9997           OH     20397       5058    PHL                Philadelphia, PA
9998           B6     20409       1286    PIT                  Pittsburgh, PA
9999           9E     20363       5111    ABE  Allentown/Bethlehem/Easton, PA

     DEST              DEST_CITY  ...  DIVERTED  CRS_ELAPSED_TIME  \
0     SFO      San Francisco, CA  ...       0.0              89.0
1     ORD            Chicago, IL  ...       0.0              88.0
2     ORD            Chicago, IL  ...       0.0              97.0
3     MCI        Kansas City, MO  ...       0.0              96.0
4     SFO      San Francisco, CA  ...       0.0             267.0
...   ...                    ...  ...       ...               ...
9995  DFW  Dallas/Fort Worth, TX  ...       0.0             121.0
9996  PDX           Portland, OR  ...       0.0             263.0
9997  GSP              Greer, SC  ...       0.0             113.0
9998  BOS             Boston, MA  ...       0.0              94.0
9999  ATL            Atlanta, GA  ...       0.0             143.0

      ELAPSED_TIME  AIR_TIME  DISTANCE  DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  \
0             87.0      63.0     447.0                NaN                NaN
1             78.0      51.0     296.0                NaN                NaN
2             79.0      53.0     264.0                NaN                NaN
3             92.0      72.0     533.0                NaN                NaN
4            253.0     223.0    1635.0                NaN                NaN
...            ...       ...       ...                ...                ...
9995         105.0      87.0     624.0                NaN                NaN
9996         271.0     237.0    1739.0               26.0                0.0
9997         107.0      87.0     515.0                0.0                0.0
9998          86.0      71.0     496.0                NaN                NaN
9999         122.0     105.0     692.0                NaN                NaN

      DELAY_DUE_NAS  DELAY_DUE_SECURITY  DELAY_DUE_LATE_AIRCRAFT
0               NaN                 NaN                      NaN
1               NaN                 NaN                      NaN
2               NaN                 NaN                      NaN
3               NaN                 NaN                      NaN
4               NaN                 NaN                      NaN
...             ...                 ...                      ...
9995            NaN                 NaN                      NaN
9996            8.0                 0.0                     62.0
9997            0.0                 0.0                    145.0
9998            NaN                 NaN                      NaN
9999            NaN                 NaN                      NaN

[10000 rows x 32 columns]>

In [48]:
def find_outliers_iqr(data):
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    IQR = Q3 - Q1
    return (data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))

numeric_cols = df.select_dtypes(include='number').columns
for col in numeric_cols:
    outliers = find_outliers_iqr(df[col])
    print(f"Outliers in {col}: {outliers.sum()}")

Outliers in DOT_CODE: 0
Outliers in FL_NUMBER: 0
Outliers in CRS_DEP_TIME: 0
Outliers in DEP_TIME: 0
Outliers in DEP_DELAY: 1295
Outliers in TAXI_OUT: 549
Outliers in WHEELS_OFF: 0
Outliers in WHEELS_ON: 0
Outliers in TAXI_IN: 530
Outliers in CRS_ARR_TIME: 0
Outliers in ARR_TIME: 0
Outliers in ARR_DELAY: 905
Outliers in CANCELLED: 242
Outliers in DIVERTED: 19
Outliers in CRS_ELAPSED_TIME: 525
Outliers in ELAPSED_TIME: 470
Outliers in AIR_TIME: 510
Outliers in DISTANCE: 579
Outliers in DELAY_DUE_CARRIER: 181
Outliers in DELAY_DUE_WEATHER: 97
Outliers in DELAY_DUE_NAS: 138
Outliers in DELAY_DUE_SECURITY: 13
Outliers in DELAY_DUE_LATE_AIRCRAFT: 177

In [49]:
df[df['CANCELLED'] == 1] #flights that got cancelled

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
30,2019-06-09,Envoy Air,Envoy Air: MQ,MQ,20398,4157,DFW,"Dallas/Fort Worth, TX",ICT,"Wichita, KS",...,0.0,81.0,NaN,NaN,328.0,NaN,NaN,NaN,NaN,NaN
31,2020-04-03,Envoy Air,Envoy Air: MQ,MQ,20398,4241,SHV,"Shreveport, LA",DFW,"Dallas/Fort Worth, TX",...,0.0,73.0,NaN,NaN,190.0,NaN,NaN,NaN,NaN,NaN
34,2022-12-28,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,1134,IND,"Indianapolis, IN",MCO,"Orlando, FL",...,0.0,140.0,NaN,NaN,829.0,NaN,NaN,NaN,NaN,NaN
65,2020-04-09,Allegiant Air,Allegiant Air: G4,G4,20368,2114,SFB,"Sanford, FL",RFD,"Rockford, IL",...,0.0,162.0,NaN,NaN,1025.0,NaN,NaN,NaN,NaN,NaN
69,2019-09-03,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,OO,20304,3272,ORD,"Chicago, IL",OKC,"Oklahoma City, OK",...,0.0,132.0,NaN,NaN,693.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9722,2022-12-26,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,3303,HRL,"Harlingen/San Benito, TX",AUS,"Austin, TX",...,0.0,65.0,NaN,NaN,273.0,NaN,NaN,NaN,NaN,NaN
9732,2020-04-10,Envoy Air,Envoy Air: MQ,MQ,20398,3361,ORD,"Chicago, IL",BNA,"Nashville, TN",...,0.0,94.0,NaN,NaN,409.0,NaN,NaN,NaN,NaN,NaN
9877,2020-03-28,PSA Airlines Inc.,PSA Airlines Inc.: OH,OH,20397,5385,CLT,"Charlotte, NC",RIC,"Richmond, VA",...,0.0,73.0,NaN,NaN,257.0,NaN,NaN,NaN,NaN,NaN
9908,2022-06-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,2414,DFW,"Dallas/Fort Worth, TX",IAD,"Washington, DC",...,0.0,174.0,NaN,NaN,1172.0,NaN,NaN,NaN,NaN,NaN
9929,2023-06-27,Endeavor Air Inc.,Endeavor Air Inc.: 9E,9E,20363,5228,JFK,"New York, NY",ITH,"Ithaca/Cortland, NY",...,0.0,83.0,NaN,NaN,189.0,NaN,NaN,NaN,NaN,NaN

In [50]:
df = df[df['CANCELLED'] == 0].copy()  #keeping only flights that are not cancelled

In [51]:
df.shape

(9758, 32)

In [58]:
df.isnull().sum()  #missing values

FL_DATE                    0
AIRLINE                    0
AIRLINE_DOT                0
AIRLINE_CODE               0
DOT_CODE                   0
FL_NUMBER                  0
ORIGIN                     0
ORIGIN_CITY                0
DEST                       0
DEST_CITY                  0
CRS_DEP_TIME               0
DEP_TIME                   0
DEP_DELAY                  0
TAXI_OUT                   0
WHEELS_OFF                 0
WHEELS_ON                  0
TAXI_IN                    0
CRS_ARR_TIME               0
ARR_TIME                   0
ARR_DELAY                  0
CANCELLED                  0
CANCELLATION_CODE          0
DIVERTED                   0
CRS_ELAPSED_TIME           0
ELAPSED_TIME               0
AIR_TIME                   0
DISTANCE                   0
DELAY_DUE_CARRIER          0
DELAY_DUE_WEATHER          0
DELAY_DUE_NAS              0
DELAY_DUE_SECURITY         0
DELAY_DUE_LATE_AIRCRAFT    0
dtype: int64

In [53]:
delay_cols = ['DELAY_DUE_CARRIER', 'DELAY_DUE_WEATHER', 
               'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY', 
               'DELAY_DUE_LATE_AIRCRAFT']

df[delay_cols] = df[delay_cols].fillna(0)

In [55]:
df['CANCELLATION_CODE'] = df['CANCELLATION_CODE'].fillna('NotCancelled')
#columns have null values
#9758 columns of CANCELLATION_CODE
#4 column of ARR_TIME
#19 columns of ARR_DELAY
#4 columns of ELAPSED_TIME, AIR_TIME each
#4 columns of WHEELS_ON, TAXI_IN

In [56]:
df = df.dropna(subset=['ARR_DELAY'])

In [57]:
df = df.dropna(subset=['ARR_TIME', 'AIR_TIME', 'ELAPSED_TIME', 'WHEELS_ON'])

In [59]:
# Convert time columns to hours (e.g., 1530 → 15.5)
def convert_time(t):
    if pd.isnull(t):
        return np.nan
    else:
        t = int(t)
        return t // 100 + (t % 100) / 60

df['CRS_DEP_HOUR'] = df['CRS_DEP_TIME'].apply(convert_time)
df['CRS_ARR_HOUR'] = df['CRS_ARR_TIME'].apply(convert_time)

# Select features
features = ['AIRLINE', 'ORIGIN', 'DEST', 'DISTANCE', 'CRS_DEP_HOUR', 'CRS_ARR_HOUR', 
            'CRS_ELAPSED_TIME', 'AIR_TIME'] + delay_cols
target = 'ARR_DELAY'

# One-hot encode categorical variables
#df = pd.get_dummies(df, columns=['AIRLINE', 'ORIGIN', 'DEST'], drop_first=True)
df = pd.get_dummies(df, drop_first=True)

In [60]:
from sklearn.model_selection import train_test_split, GridSearchCV, KFold

X = df.drop([target, 'ARR_TIME', 'DEP_TIME', 'WHEELS_OFF', 'WHEELS_ON','FL_DATE','TAXI_OUT', 'TAXI_IN', 'CANCELLED', 'DIVERTED','DOT_CODE']
            , axis=1, errors='ignore')
y = df[target]

# Split 60% train, 20% validation, 20% test
X_temp, X_test, y_temp, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_temp, y_temp, test_size=0.25, random_state=42) # 0.25 * 0.8 = 0.2

In [72]:
X

,FL_NUMBER,CRS_DEP_TIME,DEP_DELAY,CRS_ARR_TIME,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,...,"DEST_CITY_West Yellowstone, MT","DEST_CITY_White Plains, NY","DEST_CITY_Wichita Falls, TX","DEST_CITY_Wichita, KS","DEST_CITY_Williston, ND","DEST_CITY_Wilmington, NC","DEST_CITY_Worcester, MA","DEST_CITY_Wrangell, AK","DEST_CITY_Yakutat, AK","DEST_CITY_Yuma, AZ"
0,3371,1705,-5.0,1834,89.0,87.0,63.0,447.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
1,3552,1119,-1.0,1147,88.0,78.0,51.0,296.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
2,4660,1118,-5.0,1155,97.0,79.0,53.0,264.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
3,325,1815,0.0,2051,96.0,92.0,72.0,533.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
4,1561,1000,1.0,1227,267.0,253.0,223.0,1635.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3738,1121,-11.0,1322,121.0,105.0,87.0,624.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
9996,2676,2003,88.0,2226,263.0,271.0,237.0,1739.0,26.0,0.0,...,False,False,False,False,False,False,False,False,False,False
9997,5058,1816,151.0,2009,113.0,107.0,87.0,515.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
9998,1286,838,-12.0,1012,94.0,86.0,71.0,496.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
9999,5111,640,25.0,903,143.0,122.0,105.0,692.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False

In [63]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

Baseline — Predict Mean

In [64]:
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

y_pred_baseline = np.full_like(y_test, y_train.mean())

mae_baseline = mean_absolute_error(y_test, y_pred_baseline)
rmse_baseline = np.sqrt(mean_squared_error(y_test, y_pred_baseline))
r2_baseline = r2_score(y_test, y_pred_baseline)

Classical Model — Ridge Regression with CV

In [65]:
from sklearn.linear_model import Ridge

ridge = Ridge()
param_grid = {'alpha': [0.1, 1, 10, 100]}

cv = KFold(n_splits=5, shuffle=True, random_state=42)

grid_ridge = GridSearchCV(ridge, param_grid, cv=cv, scoring='neg_mean_absolute_error')
grid_ridge.fit(X_train, y_train)

best_ridge = grid_ridge.best_estimator_

y_pred_ridge = best_ridge.predict(X_test)

mae_ridge = mean_absolute_error(y_test, y_pred_ridge)
rmse_ridge = np.sqrt(mean_squared_error(y_test, y_pred_ridge))
r2_ridge = r2_score(y_test, y_pred_ridge)

Neural Network (Basic MLP)

In [66]:
#Model Builder

def build_model(hidden_layers=1, neurons=64, dropout_rate=0.0, learning_rate=0.001):
    model = Sequential()
    model.add(Dense(neurons, input_dim=X_train.shape[1], activation='relu'))
    for _ in range(hidden_layers - 1):
        model.add(Dense(neurons, activation='relu'))
        if dropout_rate > 0:
            model.add(Dropout(dropout_rate))
    model.add(Dense(1))

    model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=learning_rate),
                  loss='mse',
                  metrics=['mae'])
    return model

In [67]:
X_train = np.array(X_train)
y_train = np.array(y_train)
X_val = np.array(X_val)
y_val = np.array(y_val)

In [68]:
#Train model
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from scikeras.wrappers import KerasRegressor

nn_model = build_model(hidden_layers=2, neurons=64, dropout_rate=0.1)

history = nn_model.fit(X_train, y_train,
                        validation_data=(X_val, y_val),
                        epochs=50,
                        batch_size=32,
                        verbose=1)

Epoch 1/50
WARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x000001B589CB1000> and will run it as-is.
Cause: Unable to locate the source code of <function Model.make_train_function.<locals>.train_function at 0x000001B589CB1000>. Note that functions defined in certain environments, like the interactive Python shell, do not expose their source code. If that is the case, you should define them in a .py source file. If you are certain the code is graph-compatible, wrap the call using @tf.autograph.experimental.do_not_convert. Original error: could not get source code
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x000001B589CB1000> and will run it as-is.
Cause: Unable to locate the source code of <function Model.make_train_function.<locals>.train_function at 0x000001B589CB1000>. Note that functions defined in certain environments, like the interactive Python shell, do not expose their source code. If that is the case, you should define them in a .py source file. If you are certain the code is graph-compatible, wrap the call using @tf.autograph.experimental.do_not_convert. Original error: could not get source code
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
177/183 [============================>.] - ETA: 0s - loss: 2204.5508 - mae: 22.6081WARNING:tensorflow:AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x000001B589CB20E0> and will run it as-is.
Cause: Unable to locate the source code of <function Model.make_test_function.<locals>.test_function at 0x000001B589CB20E0>. Note that functions defined in certain environments, like the interactive Python shell, do not expose their source code. If that is the case, you should define them in a .py source file. If you are certain the code is graph-compatible, wrap the call using @tf.autograph.experimental.do_not_convert. Original error: could not get source code
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x000001B589CB20E0> and will run it as-is.
Cause: Unable to locate the source code of <function Model.make_test_function.<locals>.test_function at 0x000001B589CB20E0>. Note that functions defined in certain environments, like the interactive Python shell, do not expose their source code. If that is the case, you should define them in a .py source file. If you are certain the code is graph-compatible, wrap the call using @tf.autograph.experimental.do_not_convert. Original error: could not get source code
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
183/183 [==============================] - 4s 13ms/step - loss: 2371.7256 - mae: 22.7552 - val_loss: 2974.1499 - val_mae: 24.3565
Epoch 2/50
183/183 [==============================] - 2s 10ms/step - loss: 1493.0840 - mae: 18.6586 - val_loss: 1871.8025 - val_mae: 20.8384
Epoch 3/50
183/183 [==============================] - 2s 10ms/step - loss: 549.4877 - mae: 12.1955 - val_loss: 1284.9725 - val_mae: 18.9929
Epoch 4/50
183/183 [==============================] - 2s 10ms/step - loss: 242.2102 - mae: 9.8474 - val_loss: 953.0311 - val_mae: 17.6689
Epoch 5/50
183/183 [==============================] - 2s 10ms/step - loss: 162.6991 - mae: 8.9516 - val_loss: 932.2030 - val_mae: 17.6586
Epoch 6/50
183/183 [==============================] - 2s 10ms/step - loss: 149.0164 - mae: 8.3879 - val_loss: 886.4672 - val_mae: 17.4739
Epoch 7/50
183/183 [==============================] - 2s 9ms/step - loss: 120.8748 - mae: 7.6938 - val_loss: 837.3339 - val_mae: 17.2029
Epoch 8/50
183/183 [==============================] - 2s 9ms/step - loss: 100.5520 - mae: 6.9675 - val_loss: 824.8114 - val_mae: 17.2939
Epoch 9/50
183/183 [==============================] - 2s 10ms/step - loss: 99.4028 - mae: 6.7391 - val_loss: 766.6262 - val_mae: 17.0507
Epoch 10/50
183/183 [==============================] - 2s 10ms/step - loss: 85.3004 - mae: 6.3604 - val_loss: 857.7035 - val_mae: 17.3222
Epoch 11/50
183/183 [==============================] - 2s 10ms/step - loss: 81.6990 - mae: 5.8877 - val_loss: 796.2116 - val_mae: 17.2989
Epoch 12/50
183/183 [==============================] - 2s 9ms/step - loss: 73.7126 - mae: 5.7746 - val_loss: 789.2451 - val_mae: 16.9292
Epoch 13/50
183/183 [==============================] - 1s 8ms/step - loss: 69.9447 - mae: 5.4847 - val_loss: 780.3649 - val_mae: 17.0194
Epoch 14/50
183/183 [==============================] - 1s 8ms/step - loss: 65.5517 - mae: 5.2693 - val_loss: 754.6030 - val_mae: 16.9597
Epoch 15/50
183/183 [==============================] - 1s 8ms/step - loss: 61.3545 - mae: 5.0726 - val_loss: 756.1555 - val_mae: 17.1076
Epoch 16/50
183/183 [==============================] - 2s 9ms/step - loss: 54.9773 - mae: 4.8025 - val_loss: 669.7313 - val_mae: 16.7303
Epoch 17/50
183/183 [==============================] - 2s 10ms/step - loss: 63.1931 - mae: 4.9430 - val_loss: 780.2666 - val_mae: 17.1367
Epoch 18/50
183/183 [==============================] - 1s 8ms/step - loss: 58.7138 - mae: 4.8169 - val_loss: 780.8961 - val_mae: 17.0421
Epoch 19/50
183/183 [==============================] - 2s 9ms/step - loss: 47.3545 - mae: 4.4173 - val_loss: 719.7922 - val_mae: 16.7970
Epoch 20/50
183/183 [==============================] - 1s 8ms/step - loss: 47.8508 - mae: 4.3197 - val_loss: 741.1483 - val_mae: 17.0218
Epoch 21/50
183/183 [==============================] - 2s 9ms/step - loss: 55.9731 - mae: 4.4302 - val_loss: 747.5442 - val_mae: 16.9109
Epoch 22/50
183/183 [==============================] - 2s 10ms/step - loss: 49.6134 - mae: 4.2842 - val_loss: 719.7717 - val_mae: 16.8309
Epoch 23/50
183/183 [==============================] - 2s 10ms/step - loss: 58.9703 - mae: 4.3698 - val_loss: 757.4066 - val_mae: 17.0051
Epoch 24/50
183/183 [==============================] - 2s 10ms/step - loss: 58.5754 - mae: 4.2039 - val_loss: 723.6083 - val_mae: 16.9239
Epoch 25/50
183/183 [==============================] - 2s 9ms/step - loss: 43.3214 - mae: 4.0252 - val_loss: 758.2810 - val_mae: 16.9462
Epoch 26/50
183/183 [==============================] - 2s 10ms/step - loss: 45.5086 - mae: 3.9486 - val_loss: 734.7158 - val_mae: 17.0088
Epoch 27/50
183/183 [==============================] - 2s 9ms/step - loss: 42.7320 - mae: 3.9018 - val_loss: 691.4958 - val_mae: 16.6171
Epoch 28/50
183/183 [==============================] - 2s 10ms/step - loss: 41.0136 - mae: 3.8228 - val_loss: 801.2452 - val_mae: 17.1524
Epoch 29/50
183/183 [==============================] - 2s 10ms/step - loss: 47.4228 - mae: 3.7534 - val_loss: 668.4037 - val_mae: 16.6980
Epoch 30/50
183/183 [==============================] - 2s 9ms/step - loss: 49.1117 - mae: 4.0308 - val_loss: 744.5341 - val_mae: 17.0050
Epoch 31/50
183/183 [==============================] - 2s 9ms/step - loss: 46.8063 - mae: 3.9811 - val_loss: 736.3916 - val_mae: 16.9850
Epoch 32/50
183/183 [==============================] - 2s 11ms/step - loss: 51.7852 - mae: 3.9035 - val_loss: 708.4946 - val_mae: 16.8757
Epoch 33/50
183/183 [==============================] - 2s 11ms/step - loss: 38.8897 - mae: 3.6909 - val_loss: 687.8657 - val_mae: 16.6145
Epoch 34/50
183/183 [==============================] - 2s 11ms/step - loss: 50.3760 - mae: 3.8062 - val_loss: 690.8513 - val_mae: 16.7338
Epoch 35/50
183/183 [==============================] - 2s 10ms/step - loss: 47.4921 - mae: 3.7594 - val_loss: 738.4257 - val_mae: 16.7829
Epoch 36/50
183/183 [==============================] - 2s 10ms/step - loss: 35.5652 - mae: 3.5723 - val_loss: 715.6937 - val_mae: 16.7374
Epoch 37/50
183/183 [==============================] - 2s 8ms/step - loss: 34.0971 - mae: 3.4523 - val_loss: 713.4025 - val_mae: 16.6562
Epoch 38/50
183/183 [==============================] - 2s 10ms/step - loss: 43.9000 - mae: 3.7318 - val_loss: 687.4459 - val_mae: 16.7668
Epoch 39/50
183/183 [==============================] - 2s 10ms/step - loss: 43.0231 - mae: 3.7028 - val_loss: 671.3985 - val_mae: 16.7121
Epoch 40/50
183/183 [==============================] - 2s 10ms/step - loss: 40.9413 - mae: 3.5332 - val_loss: 724.6818 - val_mae: 16.8898
Epoch 41/50
183/183 [==============================] - 2s 11ms/step - loss: 42.3034 - mae: 3.5188 - val_loss: 679.4053 - val_mae: 16.6516
Epoch 42/50
183/183 [==============================] - 2s 9ms/step - loss: 31.1325 - mae: 3.2998 - val_loss: 785.6506 - val_mae: 16.9449
Epoch 43/50
183/183 [==============================] - 2s 9ms/step - loss: 44.9019 - mae: 3.3541 - val_loss: 669.4420 - val_mae: 16.7280
Epoch 44/50
183/183 [==============================] - 2s 10ms/step - loss: 45.1356 - mae: 3.5913 - val_loss: 748.6797 - val_mae: 16.8589
Epoch 45/50
183/183 [==============================] - 2s 10ms/step - loss: 33.1116 - mae: 3.3018 - val_loss: 668.6693 - val_mae: 16.7998
Epoch 46/50
183/183 [==============================] - 2s 10ms/step - loss: 40.1192 - mae: 3.3772 - val_loss: 698.8401 - val_mae: 16.7231
Epoch 47/50
183/183 [==============================] - 2s 10ms/step - loss: 36.1138 - mae: 3.4127 - val_loss: 725.1623 - val_mae: 16.7909
Epoch 48/50
183/183 [==============================] - 2s 9ms/step - loss: 40.4777 - mae: 3.3160 - val_loss: 742.4333 - val_mae: 17.0458
Epoch 49/50
183/183 [==============================] - 2s 10ms/step - loss: 42.1939 - mae: 3.4547 - val_loss: 758.4577 - val_mae: 16.9427
Epoch 50/50
183/183 [==============================] - 1s 8ms/step - loss: 34.3436 - mae: 3.2792 - val_loss: 779.7835 - val_mae: 17.0440

Evaluate

In [69]:
y_pred_nn = nn_model.predict(X_test).flatten()

mae_nn = mean_absolute_error(y_test, y_pred_nn)
rmse_nn = np.sqrt(mean_squared_error(y_test, y_pred_nn))
r2_nn = r2_score(y_test, y_pred_nn)

WARNING:tensorflow:AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x000001B589CB1900> and will run it as-is.
Cause: Unable to locate the source code of <function Model.make_predict_function.<locals>.predict_function at 0x000001B589CB1900>. Note that functions defined in certain environments, like the interactive Python shell, do not expose their source code. If that is the case, you should define them in a .py source file. If you are certain the code is graph-compatible, wrap the call using @tf.autograph.experimental.do_not_convert. Original error: could not get source code
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x000001B589CB1900> and will run it as-is.
Cause: Unable to locate the source code of <function Model.make_predict_function.<locals>.predict_function at 0x000001B589CB1900>. Note that functions defined in certain environments, like the interactive Python shell, do not expose their source code. If that is the case, you should define them in a .py source file. If you are certain the code is graph-compatible, wrap the call using @tf.autograph.experimental.do_not_convert. Original error: could not get source code
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
61/61 [==============================] - 0s 3ms/step

In [70]:
print("\nModel Performance on Test Set:")
print(f"{'Model':<20} {'MAE':<10} {'RMSE':<10} {'R²':<10}")
print("-" * 50)
print(f"{'Baseline (mean)':<20} {mae_baseline:.2f}     {rmse_baseline:.2f}     {r2_baseline:.2f}")
print(f"{'Ridge Regression':<20} {mae_ridge:.2f}     {rmse_ridge:.2f}     {r2_ridge:.2f}")
print(f"{'Neural Network':<20} {mae_nn:.2f}     {rmse_nn:.2f}     {r2_nn:.2f}")

Model Performance on Test Set:
Model                MAE        RMSE       R²
--------------------------------------------------
Baseline (mean)      22.99     47.19     -0.00
Ridge Regression     0.04     0.05     1.00
Neural Network       15.60     23.28     0.76